
* {
  box-sizing: border-box;
}

img{
  width: 100%;
}
.footer-container{
    background: #FF008F;
    color: white;
    margin-top: 200px;

}
.checkOut {
  padding-bottom: 100px;
}

a:link {
    color: white;
  }
  a:visited {
    color: white;
}
a:hover {
    color: black;
}
