* {
  box-sizing: border-box;
}

body, img {
  width: 100%;
}

.singleItemNavBar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.singleItemNavBar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.singleItemNavBar li:hover {
  background-color: #111;
}

.singleItemNavBar li img {
  width: 150px;
  height: 25px;
}

.singleItemNavBar .cart {
  float: right;
}

.singleItem-body {
  padding-top: 60px;
}

.singleItem-disp {
  background-color: gray;
  height: 95vh;
}

.singleItem-disp img {
  box-shadow: 5px 5px 5px black;
}

.singleItem_display {
  width: 60%;
  margin: 5px auto 10px auto;
}

.singleItem_avail_section {
  margin: 10px auto 10px auto;
}

.singleItem-desc {
  padding-top: 10px;
  background: url(../images/iron-glory-assets/iron-glory-background.jpg);
  height: 95vh;
}

.singleItem-desc img {
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

.singleItem_desc_sec {
  margin: 5px auto 20px auto;
}

.singleItem_desc_btn {
  padding: 5px;
  margin: 10px auto 10px auto;
}
