* {
  box-sizing: border-box;
}

body, img {
  width: 100%;
}

.singleItem_navbar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: 2px 2px 2px solid gray;
}

.singleItem-disp {
  background-color: gray;
}

.singleItem-disp img {
  box-shadow: 5px 5px 5px black;
}

.singleItem_display {
  width: 60%;
  margin: 5px auto 10px auto;
}

.singleItem_avail_section {
  margin: 10px auto 10px auto;
}

.singleItem-desc {
  background: URL("../images/iron-glory-assets/iron-glory-background.jpg");
}

.singleItem_desc_sec {
  margin: 5px auto 20px auto;
}

.singleItem_desc_btn {
  padding: 5px;
  margin: 10px auto 10px auto;
}
