*{
    box-sizing: border-box;
    // border: 1px dashed gray;
}
//Generic styling for the page
body, img {
    width: 100%;
}
//Styling for the Header

//Styling for the Body
.singleItemNavBar {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
    }
    li:hover {
    background-color: #111;
    }
    li img{
        width:150px;
        height: 25px;
    }
    .cart {
        float: right;
    }
}

    //Styling for the Main Page Display Section
    .singleItem-body {
        margin-top: 60px;
    }
    .singleItem-disp {
        background-color: gray;
        img {
            box-shadow: 5px 5px 5px black;
        }
    }
    .singleItem_display {
        width: 60%;
        margin: 5px auto 10px auto;
    }
     .singleItem_avail_section {
        margin: 10px auto 10px auto;
    }

    //Styling for the Main Page Description Section
    .singleItem-desc {
        // padding-top: 10px;
        background: url(/images/iron-glory-assets/iron-glory-background.jpg);
        img {
            width: 100%;
            box-shadow: 5px 5px 5px black;
        }
    }
    .singleItem_desc_sec {
        margin: 5px auto 20px auto;
        p {
            // color: #fff;
        }
    }
    .singleItem_desc_btn {
        padding: 5px;
        margin: 10px auto 10px auto;
    }
//Styling for the footer
