<!DOCTYPE html>
<html>
<head>
  <title>Admin Customer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/admin_panel.css" />

</head>
<body>
  <!-- Content goes here. -->
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="col-sm-6">
        IRON GLORY
      </div>
      <div class="col-sm-6">
        <button id="logout" type="submit" class="btn btn-default text-right">Log Out</button>
      </div>
    </div>
  </nav>


  <div class="container panelBody">
    <div class="row">
      <div class="col-sm-3">
        <h3>Items</h3>
        <h3>Customer</h3>
        <h3>Edit Item</h3>
      </div>
      <div class="col-sm-9">
        <table class="table table-striped table-responsive">
          <tr>
            <th>Cust_ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>username</th>
            <th>Phone Number</th>
            <th>E-mail</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Billing Street</th>
            <th>Billing City</th>
            <th>Billing State</th>
            <th>Billing Zip</th>
            <th>Billing Country</th>

          </tr>
          <tr>
            <td>1</td>
            <td>Collin</td>
            <td>Schneider</td>
            <td>Fee</td>
            <td>317-555-2424</td>
            <td>collin@ironglory.com</td>
            <td>1010 Laughing Cove</td>
            <td>Indianapoli</td>
            <td>IN</td>
            <td>46022</td>
            <td>US</td>
            <td>1010 Laughing Cove</td>
            <td>Indianapoli</td>
            <td>IN</td>
            <td>46022</td>
            <td>US</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script type="text/javascript" src="js/global.js"></script>
</body>
</html>
