<!DOCTYPE html>
<html>
<head>
  <title>Payment Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <script src="http://use.fontawesome.com/1b7e1608c5.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/checkout.css" />

</head>
<body>
  <!-- Content goes here. -->
  <div class="thumbnail">
    <img src="iron-glory-logo.png" />
  </div>

  <div class="container">
    <h2> My Cart</h2>
  </div>

  <div class="container checkOut">
    <div class="row">
      <div class="col-sm-7 ">
        <div class="row well well-sm">
          <div class="col-sm-6 ">
            <h3>PRODUCTS</h3>
          </div>
          <div class="col-sm-6 ">
              <a href="url"><h3>Continue Shopping</h3></a>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="col-sm-4 thumbnail">
              <img src="igp3.png" />
            </div>
            <div class="col-sm-8 ">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Have a Nice Day Badge</h3>
                </div>
                <div class="col-sm-12 text-muted">
                  <p>Brighten your world with this happy little patch from the sixties.</p>
                </div>

                <div class="col-sm-12">
                  <h3>$159</h3>
                </div>
                <div class="col-sm-12">
                  <h5>Quantity</h5>

                </div>
                <div class="col-sm-4 ">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                  </div>
                <div class="col-sm-4 text-danger">
                  <div class="form-group">
                    <button id="delete" type="button" class="btn btn-default  btn-block">Delete</button>
                  </div>
                  </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <button id="updateCart" type="button" class="btn btn-default btn-block">Update Cart</button>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="col-sm-1">

     </div>
      <div class="col-sm-4 ">
        <div class="row">
        <div class="col-sm-12 well well-sm">
        <h3>ORDER TOTAL</h3>
            </div>
            </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <h4>Subtotal</h4>
          </div>
          <div class="col-sm-6 text-right">
            <h4>$159.00</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <h4> Tax</h4>
          </div>
          <div class="col-sm-6 text-right">
            <h4>$3.00</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <h4>Shipping</h4>
          </div>
          <div class="col-sm-6 text-right">
            <h4>$10.00</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <h4>Grand Total</h4>
          </div>
          <div class="col-sm-6 text-right">
            <h4>$172.00</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button id="placeorder" type="button" class="btn btn-default buttonOrder btn-block">Place An Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <!-- <script type="text/javascript" src="js/global.js"></script> -->
</body>
</html>
