<!DOCTYPE html>
<html>
<head>
  <title>Payment Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <script src="http://use.fontawesome.com/1b7e1608c5.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/footer.css" />

</head>
<body>
  <!-- Content goes here. -->

<footer>
<div class="container-fluid footer-container">
  <div class="row">
    <div class="col-sm-6">
<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
<i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
<i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-2">
  <h4>About</h4>
  <a href="/"><h6>About</h6></a>
    </div>
    <div class="col-sm-2">
  <h4>Contact</h4>
  <a href="/"><h6>Contact</h6></a>

    </div>
    <div class="col-sm-2">
  <h4>Legal</h4>
    <a href="/"><h6>Shipping & Returns</h6></a>
    </div>

  </div>
</div>

</footer>

  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <!-- <script type="text/javascript" src="js/global.js"></script> -->
</body>
</html>
