<!DOCTYPE html>
<html>
<head>
    <title>Single Item 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/singleItem.css" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <ul class="text-right list-inline singleItem_navbar">
                <li><button class="btn btn-default">LOG IN</button></li>
                <li><button class="btn btn-default">SIGN UP</button></li>
                <li><button class="btn btn-default">CART 1</button></li>
            </ul>
        </div>
        <div class="row">
            <!-- BEGIN MAIN SECTION -->
            <main>
                <!-- BEGIN MAIN SINGLE PATCH DISPLAY SECTION -->
                <section class="singleItem-disp">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="image description">Patch</label>
                                <img src="../../assets/images/iron-glory-assets/iron-glory-products/igp1.png" alt="random image to hold place" class="thumbnail singleItem_display">
                            </div>
                        </div>
                        <div class="row singleItem_avail_section">
                            <div class="col-sm-12">
                                <label tabindex="0" for="patch availability">Available</label>
                                <ul for="list of available sizes" class="list-inline">
                                    <li>1</li>
                                    <li>5</li>
                                    <li>10</li>
                                    <li>12</li>
                                    <li>15</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END MAIN SINGLE PATCH DISPLAY SECTION -->
                <!-- BEGIN MAIN SINGLE PATCH DESCRIPTION SECTION -->
                <section class="singleItem-desc">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="../../assets/images/iron-glory-assets/iron-glory-logo.png" alt="">
                            </div>
                        </div>
                        <div class="row singleItem_desc_sec">
                            <div class="col-sm-12">
                                <h3 tabindex="0">Patch Name: <em>Fender</em></h3>
                                <h3 tabindex="0">Patch Sku: <em>123abc</em></h3>
                                <h3 tabindex="0">Patch Price: <em>&#36; 90.00</em></h3>
                                <h4 tabindex="0">Patch Description</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <label for="exampleSelect1">Select Qty.</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-4"><button class="btn btn-success singleItem_desc_btn">Add To Cart</button></div>
                            <div class="col-sm-4"><button class=" btn btn-primary singleItem_desc_btn">Back To Patches</button></div>
                        </div>
                    </div>
                </section>
                <!-- END MAIN SINGLE PATCH DESCRIPTION SECTION -->
            </main>
            <!-- END MAIN SECTION -->
        </div>
    </div>

    <!-- Questions to resolve -->
    <!-- How does user Arrive to page?-->
    <!-- What does user do on page to page?-->
    <!-- How to show item was added to cart on page?-->
    <!-- What does user do when complete with page?-->
    <!-- Content goes here. -->

    <!-- Scripts go here. -->
    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <script type="text/javascript" src="js/global.js"></script>
</body>
</html>
